@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {

  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: white;
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hero Section */
#hero {
  background-image:url(img/26575385823_a3d1660e81_b.jpg);
  background-size: cover ;
  background-position: top center;
  position: relative;
  z-index: 1;
}


#hero::after {
content: "";
  position: absolute;
  left: 0;
  top: 0;
height: 100%;
width: 100%;
background-color: rgb(75, 33, 104);
opacity: 0.7;
z-index: -1;
}
#hero h1{
  display: block;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: white;
}
/* End Hero Section */